<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farha_application">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Farha_Application">
        <activity android:name=".Acticites.Invitation.DetailsProductActivity">

        </activity>
        <activity android:name=".Acticites.Invitation.ProductInvitationActivity" />
        <activity android:name=".Acticites.Invitation.CategoeyListInvetationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Acticites.Admin.ViewAccountActivity" />
        <activity android:name=".Acticites.Admin.EditProductActivity" />
        <activity android:name=".Acticites.Admin.InsertProductActivity" />
        <activity android:name=".Acticites.Admin.EditCategoryActivity" />
        <activity android:name=".Acticites.Admin.InsertCategoryActivity" />
        <activity android:name=".Acticites.Admin.ProductListActivity" />
        <activity android:name=".Acticites.Admin.CategoryListActivity" />
        <activity android:name=".Acticites.Admin.HomeAdminActivity" />
        <activity android:name=".Acticites.Rigesteration.LogInActivity" >

        </activity>
        <activity android:name=".Acticites.Rigesteration.RegisterActivity" />
        <activity android:name=".Acticites.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>